<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>InheritFromJob</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <fr.novia.zaproxyplugin.ZAProxyBuilder plugin="zaproxy@1.1.8-SNAPSHOT">
      <startZAPFirst>false</startZAPFirst>
      <zaproxy>
        <zapProxyHost>localhost</zapProxyHost>
        <zapProxyPort>8089</zapProxyPort>
        <zapProxyKey>2ec2s1qh8fu1303jar3us1msb4</zapProxyKey>
        <autoInstall>true</autoInstall>
        <toolUsed></toolUsed>
        <zapHome>ZAPROXY_HOME</zapHome>
        <timeoutInSec>60</timeoutInSec>
        <filenameLoadSession></filenameLoadSession>
        <targetURL>http://localhost:8080</targetURL>
        <spiderURL>false</spiderURL>
        <ajaxSpiderURL>true</ajaxSpiderURL>
        <scanURL>false</scanURL>
        <spiderAsUser>false</spiderAsUser>
        <scriptName></scriptName>
        <loginUrl></loginUrl>
        <loggedInIndicator></loggedInIndicator>
        <loggedOutIndicator></loggedOutIndicator>
        <postData></postData>
        <cookie></cookie>
        <username></username>
        <password></password>
        <ajaxSpiderURLAsUser>false</ajaxSpiderURLAsUser>
        <scanURLAsUser>false</scanURLAsUser>
        <saveReports>false</saveReports>
        <chosenFormats/>
        <filenameReports></filenameReports>
        <saveSession>false</saveSession>
        <filenameSaveSession></filenameSaveSession>
        <zapDefaultDir></zapDefaultDir>
        <chosenPolicy></chosenPolicy>
        <jdk>InheritFromJob</jdk>
      </zaproxy>
      <zapProxyHost>localhost</zapProxyHost>
      <zapProxyPort>8089</zapProxyPort>
      <zapProxyKey>2ec2s1qh8fu1303jar3us1msb4</zapProxyKey>
    </fr.novia.zaproxyplugin.ZAProxyBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>